@import "tailwindcss";

/* RESET */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

/* FONT — EXACT FILE, NO FALLBACK */
@font-face {
  font-family: "NewYorkExtraLarge";
  src: url("/fonts/NewYorkExtraLarge-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

body {
  background: #000;
  color: #fff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}
